In [40]:
from sklearn import linear_model
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
model = linear_model.LinearRegression()

In [3]:
df = pd.read_csv(r'C:\Users\Siddharth\Downloads\hiring.csv')

In [4]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
df.rename(columns={'test_score(out of 10)': 'score'} , inplace = True)

In [6]:
df.columns = ['exp', 'score', 'in_score', 'salary']

In [7]:
df

      exp  score  in_score  salary
0     NaN    8.0         9   50000
1     NaN    8.0         6   45000
2    five    6.0         7   60000
3     two   10.0        10   65000
4   seven    9.0         6   70000
5   three    7.0        10   62000
6     ten    NaN         7   72000
7  eleven    7.0         8   80000

In [46]:
import math
score_fill = math.floor(df.score.median())
df.score = df.score.fillna(score_fill)

In [18]:
df[:33]

      exp  score  in_score  salary
0     NaN    8.0         9   50000
1     NaN    8.0         6   45000
2    five    6.0         7   60000
3     two   10.0        10   65000
4   seven    9.0         6   70000
5   three    7.0        10   62000
6     ten    NaN         7   72000
7  eleven    7.0         8   80000

In [20]:
df.exp.fillna('zero')

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: exp, dtype: object

In [24]:
from word2number import w2n
df['exp'] = df['exp'].apply(lambda x: w2n.word_to_num(x.strip()) if isinstance(x, str) else x)

In [30]:
df

    exp  score  in_score  salary
0   NaN    8.0         9   50000
1   NaN    8.0         6   45000
2   5.0    6.0         7   60000
3   2.0   10.0        10   65000
4   7.0    9.0         6   70000
5   3.0    7.0        10   62000
6  10.0    NaN         7   72000
7  11.0    7.0         8   80000

In [44]:
exp_fill = np.floor(df['exp'].median())
df.exp = df.exp.fillna(exp_fill)

In [34]:
exp_fill

6

In [48]:
df

    exp  score  in_score  salary
0   6.0    8.0         9   50000
1   6.0    8.0         6   45000
2   5.0    6.0         7   60000
3   2.0   10.0        10   65000
4   7.0    9.0         6   70000
5   3.0    7.0        10   62000
6  10.0    8.0         7   72000
7  11.0    7.0         8   80000

In [56]:
model.fit(df[['exp','score','in_score']],df.salary)

LinearRegression()

In [60]:
model.predict([[3,4,4]])

C:\Users\Siddharth\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37349.59349593])